<div class="row top_custom_nav" >
    <h2 class="pull-left">Claim SPIFF</h2>
    <a href="/partner-tools/#/"><button class="btn btn-primary pull-right link_main"> << PartnerTools</button></a>
</div>
<div class="">
    <div class="panel panel-primary">
        <div class="panel-heading">Submitted SPIFF Claim</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:10px;">
                    <thead>
                    <tr>
                        <th>Registration ID</th>
                        <th>Facility/Customer</th>
                        <th>Invoice #</th>
                        <th>Dealer Rep</th>
                        <th>Install Date</th>
                        <th>SPIFF $</th>
                        <th>Claim ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="listdata in claimSpiffs">
                        <td>{{listdata.partnerSaleRegistrationId}}</td>
                        <td>{{listdata.facilityName}}</td>
                        <td>{{listdata.invoiceNumber}}</td>
                        <td>{{listdata.firstName}} {{listdata.lastName}}</td>
                        <td>{{listdata.installDate}}</td>
                        <td>${{listdata.spiffAmount}}</td>
                        <td>{{listdata.claimSpiffId}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-sm-6">
                <div style="margin-bottom:10px;">Submitted : {{claimSpiffs[0].spiffClaimedDate}}</div>
                <button type="button" class="btn btn-primary" ng-click="finish_submit()"> << Claim SPIFF </button>
            </div>
        </div>
    </div>
</div>
