<div>
<div class="modal-header">
    <h4 class="modal-title">Warning!</h4></div>
        <div class="modal-body">No SPIFFs available for this country.</div>
    <div class="modal-footer">
        <a href="/partner-tools/#/"><button class="btn btn-primary" type="button">OK</button></a>
    </div>
</div>
